*{
    margin:0;
    font-family:arial;
    border:border-box;
}
.navbar{
    height:80px;
    background-color:black;
    color:white;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width:70px;
}
.logo{
    background-image:url("amazon.jpeg");
    background-size:cover;
    height:50px;
    width:100%;
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
.add-1st{
    color:#cccccc;
    font-size:0.9rem;
    margin-left:15px;

}
.add-2nd{
    font-size:0.8rem;
    margin-left:3px;

}
.add-icon{
    display:flex;
    align-items:center;
}
.search{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:620px;
    height:35px;
}
.select{
    background-color: f3f3f3;
    margin-left:10px;
    width:50px;
    height:28.8px;
    text-align:center;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border:none;

}
.search-input{
    width:100%;
    height:25px;
}
.search-icon{
    width:50px;
    height:28.5px;
    display:flex;
    justify-content:center ;
    align-items:center;
    font-size:1.1rem;
    background-color: rgb(249, 138, 98);
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border:none;
}
.search:hover{
    border:2px solid coral;
}
span{
    font-size:0.7rem;

}
.nav-sec{
    font-size:0.85rem;
    font-weight:700;
}
.cart i{
    font-size:28px;
}
.cart{
    font-size:0.8rem;
    font-weight:700;
}
.pannel{
    height:40px;
    background-color:#222f3d;
    display:flex;
    color:white;
    align-items:center;
    justify-content: space-evenly;

}
.pannel-ops p{
    display: inline;
    margin-left:10px;
}
.pannel-ops{
    width:70%;
    font-size:0.85rem;
}
.pannel-deal{
    font-size:0.9rem;
    font-weight:700;
}
.hero-section{
    background-image:url("hero.jpeg");
    background-size:contain;
    height:400px;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}
.hero-msg{
    background-color:white;
    color:black;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:0.9rem;
    width:80%;
    margin-bottom:20px;
}
.hero-msg a{
    color:#007185;
    text-decoration:underline;
}
.shop-section{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color: #e2e7e6;
}
.box{
    /*border:2px solid black;*/
    height:400px;
    width:23%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top:15px;

}

.box-img{
    background-size: contain;
    height:300px;
    background-repeat:no-repeat;
    background-position:center;
    
}
.box-content{
    margin-left:1rem;
    margin-right:1rem;
}
.box-content p{
    color:#007185;
}
footer{
    margin-top:15px;
}
.foot-pannel1{
    background-color: #37475a;
    color:white;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;;
}
.foot-pannel2{
    background-color:#222f3d;
    color:white;
    height:500px;
    display:flex;
    justify-content:space-evenly;
}
ul{
    margin-top:20px;
}
ul a{
    display:block;
    font-size:0.85rem;
    margin-top:10px;
    color:#dddddd;
}
